/* .video-title {
                font-family: Arial;
                font-size: 30px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
            } */
        
p {
    font-family: Roboto;
    font-size: 14px;
}

.video-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 600px;
    line-height: 20px;
}

.video-stats {
    margin-top: 0;
}

.shop-text {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    /* text-decoration: underline; */
}
.shop-text:hover {
    text-decoration: underline;
}